@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: Helvetica, sans-serif;
}

@media(min-width:414px){
.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}

  .navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  /* display: inline-block; */
  /* width: 80px; */
  /* -webkit-transition: all 0.2s ease-in-out; */
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #af2c2c;
}


.banner{
  width: 26em;
}

pre{
    font-family: Helvetica, sans-serif;
    color: #f6f4e6;
    font-weight: 100;
}

.banner2{
  width: 26em;
}

.pre2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
}

button{
  height: 5em;
  width: 15em;
}
}

